<% if @user %>
  <p><strong><%= "Hi, #{@user.capitalize}" %></strong></p>
<% end %>
<a href="/vehicles/new" class="btn">Add a car</a>
<hr />
<ul id="vehicle_list">
<% @vehicles.each do |v| %>
  <% if v.sale_date == "" %>
    <a href="vehicles/show/<%= v.id %>"><li class="for_sale"><%= "#{v.stock_number}: #{v.year} #{v.make} #{v.model}" %> - Days in stock: <%= days_in_stock(v.id) %></li></a>
  <% else %>
    <a href="vehicles/show/<%= v.id %>"><li class="sold"><%= "#{v.stock_number}: #{v.year} #{v.make} #{v.model}" %> - Days in stock: <%= days_in_stock(v.id) %></li></a>
  <% end %>  
<% end %>
</ul>
