
<h1><%= "#{@vehicle.year} #{@vehicle.make}, #{@vehicle.model}" %></h1>
<h5>Total profit: <%= calculate_profit(@vehicle.id) %> - Days in stock: <%= days_in_stock(@vehicle.id) %></h5>
<hr />
<div class="row">
<ul>
  <div class="six columns">
        <li>Stock number: <%= @vehicle.stock_number %></li>
	<li>Cost: <%= @vehicle.buyprice %></li>
	<li>Price: <%= @vehicle.sellprice %></li>
        <li>Purchase date: <%= @vehicle.purchase_date %></li>
        <li>Sale date: <%= @vehicle.sale_date %></li>
	<li>Kilometers travelled: <%= @vehicle.kilometers_travelled %></li>
	<li>Engine capacity: <%= @vehicle.engine_capacity %></li>
	<li>Colour: <%= @vehicle.colour %></li>
	<li>Security interest: <%= true_yes(@vehicle.security_interest) %></li>
	<li>Radio receiver: <%= true_yes(@vehicle.radio_receiver) %></li>
	<li>Re-registered vehicle: <%= true_yes(@vehicle.re_registered_vehicle) %></li>
  </div>
  <div class="six columns">
	<li>Road user charges: <%= true_yes(@vehicle.road_user_charges) %></li>
	<li>Outstanding road user charges: <%= true_yes(@vehicle.outstanding_road_user_charges) %></li>
	<li>Imported: <%= true_yes(@vehicle.imported) %></li>
	<li>Imported damaged: <%= true_yes(@vehicle.imported_damaged) %></li>
	<li>Warrant expiry: <%= @vehicle.warrant_expiry %></li>
	<li>Vehicle licence expiry: <%= @vehicle.vehicle_licence_expiry %></li>
	<li>First registered: <%= @vehicle.first_registered %></li>
	<% if @vehicle.imported %>
		<li>First registered overseas: <%= @vehicle.first_registered_overseas %></li>
		<li>Country last registered: <%= @vehicle.country_last_registered %></li>
	<% end %>
	<li>Registration plate number: <%= @vehicle.registration_number %></li>
	<li>Vin number: <%= @vehicle.vin_number %></li>
	<li>Fuel type: <%= @vehicle.fuel_type %></li>
	<li>Description: <%= @vehicle.description %></li>
  </div>
</ul>
</div>
<a href="/vehicles/delete/<%= @vehicle.id %>" class="btn-red">Delete</a>
<a href="/vehicles/edit/<%= @vehicle.id %>" class="btn">Edit</a>

<% if @vehicle.sale_date != "" %>
  <% if @customers.any? %>
    <hr />
    <div id="customer" class="row">
      <h3>Sold to</h3>
      <% @customers.each do |c| %>
          <ul>
            <div class="six columns">
              <li>Name: <%= c.first_name %> <%= c.last_name %></li>
              <li>Address: <%= c.address %></li>
              <li>Occupation: <%= c.occupation %></li>
              <li>Employer: <%= c.employer %></li>
              <li>Home Phone: <%= c.home_phone %></li>
              <li>Mobile Phone: <%= c.mobile_phone %></li>
              <li>Business Phone: <%= c.business_phone %></li>
              <li>GST Number: <%= c.gst_number %></li>
            </div>
            <div class="six columns">
              <li>Email: <%= c.email %></li>
              <li>Bank: <%= c.bank %></li>
              <li>D.O.B: <%= c.date_of_birth %></li>
              <li>Drivers Licence #: <%= c.drivers_license_number %></li>
              <li>NZTA #: <%= c.nzta_number %></li>
            </div>
          </ul>
        </div>
      <% end %>
    </div>
  <% else %>
  <hr />
    <h3>Add purchase details</h3>
    <form action="/customers" method="post">
    <div class="six columns">
      <input type="hidden" name="customer[vehicle_id]" value="<%= @vehicle.id %>" />

      <label for="customer_first_name">First Name</label>
      <input id="customer_first_name" name="customer[first_name]" type="text" value="" />

      <label for="customer_last_name">Last Name</label>
      <input id="customer_last_name" name="customer[last_name]" type="text" value="" />

      <label for="customer_address">Address</label>
      <input id="customer_address" name="customer[address]" type="text" value="" />

      <label for="customer_occupation">Occupation</label>
      <input id="customer_occupation" name="customer[occupation]" type="text" value="" />

      <label for="customer_employer">Employer</label>
      <input id="customer_employer" name="customer[employer]" type="text" value="" />

      <label for="customer_gst_number">GST number</label>
      <input id="customer_gst_number" name="customer[gst_number]" type="text" value="" />

      <label for="customer_home_phone">Home phone</label>
      <input id="customer_home_phone" name="customer[home_phone]" type="text" value="" />

    </div>
    <div class="six columns">

      <label for="customer_mobile_phone">Mobile phone</label>
      <input id="customer_mobile_phone" name="customer[mobile_phone]" type="text" value="" />

      <label for="customer_business_phone">Business phone</label>
      <input id="customer_business_phone" name="customer[business_phone]" type="text" value="" />

      <label for="customer_email">Email</label>
      <input id="customer_email" name="customer[email]" type="text" value="" />

      <label for="customer_bank">Bank</label>
      <input id="customer_bank" name="customer[bank]" type="text" value="" />

      <label for="customer_date_of_birth">D.O.B</label>
      <input id="customer_date_of_birth" name="customer[date_of_birth]" type="text" value="" />

      <label for="customer_drivers_license_number">Drivers licence #</label>
      <input id="customer_drivers_license_number" name="customer[drivers_license_number]" type="text" value="" />

      <label for="customer_nzta_number">NZTA #</label>
      <input id="customer_nzta_number" name="customer[nzta_number]" type="text" value="" />
    </div>
      <input type="submit" value="Save" />

    </form>
  <% end %>
<% end %>

<hr />
<div id="costs" class="row">
  <h3>Costs incurred</h3>
  <h5>Total: <%= total_cost(@vehicle.id) %></h5>
  <% @costs.each do |c| %>
    <div class="three columns cost">
    <ul>
      <li>Name: <%= c.name %></li>
      <li>Description: <%= c.description %></li>
      <li>Price: <%= c.price %></li>
      <li><a href="/costs/delete/<%= c.id %>">Delete</a></li>
    </ul>
    </div>
  <% end %>
</div>
<hr />
<div class="row">
  <h5>Add a cost</h5>

    <form action="/costs" method="post">
      <input type="hidden" name="cost[vehicle_id]" value="<%= @vehicle.id %>" />

  <div class="one-third column">
    <label for="cost_name">Name</label>
    <input id="cost_name" name="cost[name]" type="text" value="" />
  </div>
  <div class="one-third column">
    <label for="cost_description">Description</label>
    <textarea id="cost_description" name="cost[description]" type="text" value=""></textarea>
  </div>
  <div class="one-third column">
    <label for="cost_price">Price</label>
    <input id="cost_price" name="cost[price]" type="text" value="" />
  </div>
</div>
<div class="row">
    <input type="submit" value="Add cost" />

  </form>
</div>
